@import url('https://fonts.googleapis.cn/css2?family=Noto+Serif+SC:wght@300;400;500;700&display=swap');
@import "tailwindcss";

/* @theme {
  --font-serif: var(--font-noto-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
} */
@theme {
  --font-serif: 'Noto Serif SC', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

:root {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

body {
  font-family: 'Noto Serif SC', serif;
  background: radial-gradient(circle at center, #1e1b4b 0%, #0f172a 100%);
  color: var(--foreground);
  min-height: 100vh;
}

@utility glass-card {
  backdrop-filter: blur(24px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
}

@layer utilities {
  .text-shadow-starlight {
    text-shadow: 0 0 10px rgba(253, 230, 138, 0.3), 0 0 20px rgba(0, 0, 0, 0.5);
  }
}

/* 隐藏滚动条但保留滚动功能 */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@tailwind components;
@tailwind utilities;
